<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<log4net>
		<!-- Root logger configuration -->
		<root>
			<level value="ALL" />
			<appender-ref ref="AdoNetAppender" />
		</root>

		<!-- AdoNetAppender configuration -->
		<appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
			<!-- Connection string to the database -->
			<connectionType value="System.Data.SqlClient.SqlConnection, System.Data" />
			<connectionString value="${log4net:Log4NetConnection}" />

			<!-- SQL command to insert log entries -->
			<commandText value="INSERT INTO API_Template_Log (LogType, UserId, Endpoint, ParamsOrBody, CreatedDate, Message) VALUES (@logType, @userId, @endpoint, @paramsOrBody, @createdDate, @messageResponse)" />

			<!-- Parameters for the SQL command -->
			<parameter>
				<parameterName value="@logType" />
				<dbType value="String" />
				<size value="50" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%level" />
				</layout>
			</parameter>

			<parameter>
				<parameterName value="@userId" />
				<dbType value="String" />
				<size value="100" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{userId}" />
				</layout>
			</parameter>

			<parameter>
				<parameterName value="@endpoint" />
				<dbType value="String" />
				<size value="200" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{endpoint}" />
				</layout>
			</parameter>

			<parameter>
				<parameterName value="@paramsOrBody" />
				<dbType value="String" />
				<size value="4000" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%message" />
				</layout>
			</parameter>

			<parameter>
				<parameterName value="@messageResponse" />
				<dbType value="String" />
				<size value="4000" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{messageResponse}" />
				</layout>
			</parameter>

			<parameter>
				<parameterName value="@createdDate" />
				<dbType value="DateTime" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%date{yyyy-MM-dd HH:mm:ss.fff}" />
				</layout>
			</parameter>

			<!-- BufferSize determines how many log events to buffer before writing to the database -->
			<bufferSize value="1" />
		</appender>
	</log4net>
</configuration>
